#costAnalysisDiv{
    width: 100%;
    /* min-height: 100vh; */
    height: auto;
    padding-bottom: 30px;
    background-color: black;
}


#monthly-costs{

    padding: 10px 0 0 10px;
}

#cost-trend{
    padding: 10px 0 0 2px;
}

#saving-opportunities{
    padding: 10px 10px 0 5px;
}
#optimization, #cost-by-site{
    padding: 5px 0 0 10px;
}
#insights{
    padding: 5px 0 0 5px;
}
#cost-changes{
    padding: 5px 10px 0 5px;
}

@media only screen and (max-width: 450px){
    #monthly-costs{
        padding: 10px 0 0 3%;
        width: 97%;
    }
    #cost-trend, #saving-opportunities  {
        padding: 5px 0 0 3%;
        width: 97%;
    }
    #insights, #optimization,#cost-changes{
        padding: 0 0 0 3%;
        width: 97%;
    }

}