#customWidth {
    width: 400px;
    color: white;
}

.cost-changes{
    height: 250px;
    text-align: center;
    background-color: #353536 !important;
    font-size: 12px;
    overflow: hidden;
}

.float-button{
    float: right;
    margin-right: 20px;
    border: none;
    color: #54aded;
    background-color: transparent;
    font-size: .8rem;
    outline: none;
}
.table-section{
    width: 100%;
    height: 70%;
    overflow-y: scroll;
    padding-top: 15px;
    scrollbar-width: none;
}
.table-section::-webkit-scrollbar{
    display: none;
}
.cost-changing-table{
    width: 90%;
    height: 100%;
    text-align: left;
    margin-left: 5%;
}

.table-row, td{
    border-bottom: thin dotted grey;
    line-height: 1.2rem;
}

.float-button:hover{
    color: white;
}
.text-td{
    width: 80%;
}