#customWidth {
    width: 400px;
}
.monthly-cost{
    height: 255px;
    text-align: center;
    background-color: #353536;
    padding: 15px  30px 30px; 
}
#inner-section{
    text-align: left;
    margin-top: 10px;
    position: relative;
}
#inner-section p {
    margin-bottom: 0;
}
.heading{
    color: lightgrey; 
    font-size: 17px !important;
    margin: 0;
}
.sub-heading{
    color: lightgrey; 
    margin-top: 20px;
}
.monthly-cost p{
    font-size: 13px;

}
.month-to-date-section{
    position: relative;
    /* height: 30px; */
    /* width: 100%;
    height: 50px; */
}

.float-span{
    position: absolute;
    right: 0;
    top: -10px;
    font-size: 25px;
}

.footer-span{
   display: inline-block;
   margin-top: 10px;
   font-size: 15px !important;
   /* display: inline-block; */
}

.margin-left{
    margin-left: 5%;
}
/* .range-input: */
.heading-number{
    font-size: 27px !important;
    margin-bottom: 0;
}

@media only screen and (min-width: 450px) and (max-width: 912px){
    .float-span{
        /* font-size: 17px; */
        font-size: 14px;
    }
    .cost-for-month{
        font-size: 12px;
        /* position: absolute;
        left: 0; */
        /* color: red; */
    }
    .heading {
        font-size: 11px;
    }
    
    .footer-span{
        font-size: 11px !important;
    }
    .heading-number{
        font-size: 16px !important;
    }
    .current-month-progress-bar{
        height: 10;
    }
}

@media only screen and (max-width: 450px) {
    .float-span{
        font-size: 20px;
    }
}