.Savingdata{
    color: #3e844d;
    display:flex ;
    font-size: 20px;
    justify-content:center;
}
#Savingicon{
    color:#3e844d;
    transform: rotate(180deg);
    height: 65px;
    width: auto;
    margin-top: -5px;
}

.footerline{
    color: #ffffff;
    font-size: 11px;
    margin:-9px 0 0 -.5px;
    width: 150px;
}
@media only screen and (max-width: 770px){
    #Savingicon{
        height:50px ;
    }
    .Savingdata{
     font-size: 15px;
    }
}
@media only screen and (max-width: 610px){
    .Savingdata{
     font-size: 20px;
    }
}