    /* #customWidth {
    width: 800px;
} */
.Optimization{
    background-color:#353536;
    height:255px;
    color: #ffffff;
    font-size: 12px;
}
.opti{
    height: 270;
    width:100%
 }
.contentcenter{
    display: flex;
    align-items: center;
    justify-content: center;
 }
.Heading{
    padding-top: 10px;
}
.optimiztable{
    display: flex;
 }
 .savingline{
    margin-top: 75px;
    margin-left: 10px;

 }

 .divflex{
    display: flex;
    align-items: center;
    justify-content: center;
 }
#savingamt{
    padding-left: 25px;
}
 
#warning{
    padding-right:2px;
    color: #e63900;
    height:30px;
    width:auto;
}
#error{
    padding-right:2px;
    color:#d6c100;
    height:30px;
    width:auto;
}
#check{
    padding-right:2px;
    color: #51a95a;
    height:30px;
    width:auto;
}
.count_data{
    font-size: 20px;
}

@media only screen and (max-width: 950px) and (min-width:825px) {
    .count_data{
        font-size: 15px;
    }
    #warning,#check,#error{
        height: 20px;
    }
    .tdata{
        font-size: 11px;
    }
    .savingline{
        font-size: 10px;
        margin-top: 65px;
        margin-left: 2px;
    }
}
@media only screen and (max-width: 825px) and (min-width:750px) {
    .count_data{
        font-size: 14px;
    }
    #warning,#check,#error{
        height: 20px;
    }
    .Optimization{
        font-size: 10px;
    }
   .tdata{
    font-size: 10px;
   }
    .savingline{
        font-size: 9px;
        margin-top: 65px;
        margin-left: 2px;
    }
}

@media only screen and (max-width: 560px) {
    .totalSaving{
        font-size: 25px;
    }
    #Saving{
        height: 45px;
    }
    #warning,#check,#error{
        height:25px;
    }
    .count_data{
        font-size: 14px;
    }
    .savingline{
        margin-top: 70px;
        margin-left: 1px;
        font-size: 10px;
        position: absolute;
    }
    .Savingdata{
        font-size: 50px;
    }
  }
  @media only screen and (max-width: 750px) and (min-width:560px) {
    .totalSaving{
        font-size: 25px;
    }
    #savingamt{
        padding-left: 10px;
    }
    #Saving{
        height: 45px;
    }
    #warning,#check,#error{
        height:16px;
    }
    .tdata td{
        font-size: 9.5px;
        margin-left: 6px;
        padding-left: 2px;
        margin-left: -5px;
    }
    
    .count_data{
        font-size: 14px !important; 
    }
    .savingline{
        margin-top: 70px;
        font-size: 9px;
        /* position: absolute; */
        margin-left: 1px;
    }
    .Heading{
        margin-bottom: 5px;
    }
    .Optimization{
        font-size: 10px;
    }
    .Savingcomp{
        margin-left: 30px;
    }
    
  }