#customWidth {
    width: 400px;
}

.savingamount {
    margin-top: -16px;
}

.SavingOpp {
    background-color: #353536;
    color: white;
    height: 255px;
    font-size: 12px;
}

#savingtable {
    margin-top: 10px;
    color: white;
}

#savingtable td {
    padding: 1px;
    border-style: dotted;
}

#savingtable tr:last-child td {
    border-bottom: none;
}

.savingtitle1 {
    text-align: center;
    padding: 10px;
}

#savingchart {
    height: 90px;
    width: 85%;
    margin-left: 6%;
}

#savingtable button {
    border: none;
    background-color: transparent;
    color: #54aded;
    padding: 0 1px;
    padding-right: 0px;
}

#savingtable button:hover {
    color: white;
}

#sugicon {
    transform: rotate(180deg);
    color: white;
    height: 15px;
    width: auto;
}

@media only screen and (max-width: 450px) {

    #savingtable {
        margin-top: 2%;
    }

    #savingtable td {
        padding: 0px;
        font-size: 10.5px;
    }

    #sugicon {
        height: 10px;
        width: auto;
    }

    #savingchart {
        width: 90%;
    }
}

@media (max-width: 770px) {
    .SavingOpp {
        font-size: 10.5px;
    }
    .savingamount{
        margin-left: 30px;
    }
    #totalamount {
        font-size: 20px;
    }

    .titleline {
        width: 45%;
    }

    #savingtable {
        margin-top: 15px;

    }

    #savingtable td {
        padding: 0px;
        font-size: 10px;
    }

    #sugicon {
        height: 10px;
        width: auto;
    }

    #savingchart {
        margin-top: -10px;
        width: 90%;
        height: 130px;
    }
}

@media ((770px <= width <= 880px)) {

    #savingtable {
        margin-top: 1%;
    }

    #savingtable td {
        font-size: 11.5px;
    }

    #sugicon {
        height: 10px;
        width: auto;
    }

    .titleline {
        width: 40%;
    }

    #savingchart {
        width: 90%;
    }
}